.palette-one {
  color: #d9e4dd;
  background-color: #d9e4dd;
  background: #d9e4dd;
}

.palette-two {
  color: #fbf7f0;
  background-color: #fbf7f0;
  background: #fbf7f0;
}

.palette-three {
  color: #cdc9c3;
  background-color: #cdc9c3;
  background: #cdc9c3;
}

.palette-four {
  color: #555555;
  background-color: #555555;
  background: #555555;
}

.main-font {
  font-family: "Avenir Next" !important;
}
